# all
numpy
pillow
pybluez
matplotlib
opencv-python 


# python guimain.py
# 
# numpy
# pillow
# pybluez
# opencv-python 

# python guiconfig.py
# 
# numpy
# pillow
# opencv-python 

# cd .\tests\
# python color_spaces_bgr_hsv.py
# 
# opencv-python
# matplotlib